.App {
  font-family: sans-serif;
  text-align: center;
}

div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div button {
  margin-bottom: 30px;
  height: 60px;
  width: 200px;
  font-size: 20px;
  border-width: 0px;
}
.button1 {
  background-color: blueviolet;
}

